<!-- Portfolio Modals -->
<div class="bike-modal modal fade" id=<%= "bikeModal#{bike.id}" %> tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="bike-name"><%= bike.name %></h2>
                        <h4 class="bike-name"><%= Bike.human_attribute_name(:price) + " " + bike.price.to_s %></h4>
                        <hr class="star-primary">
                        <!--image carousel-->
                        <div id="avatarsCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                              <% bike.avatars.each.with_index(0) do |avatar,index| %>
                                  <% if index == 0 %>
                                    <li data-target="#avatarsCarousel" data-slide-to="0" class="active"></li>
                                  <% else %>
                                    <li data-target="#avatarsCarousel" data-slide-to= <%= index %>></li>
                                  <% end %>
                              <% end %>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                              <% bike.avatars.each.with_index(0) do |avatar,index| %>
                              <div class="<%= (index == 0) ? "item active" : "item"%>" >
                                    <%= image_tag(avatar.url) %>
                                </div>
                              <% end %>
                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#avatarsCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#avatarsCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>


                        <ul class="list-inline item-details">
                            <li>
                                <%= Bike.human_attribute_name(:brand) %>  
                                <strong><%= bike.brand %></a>
                                </strong>
                            </li>
                            <li>
                                <%= Bike.human_attribute_name(:model) %>
                                <strong><%= bike.model %></a>
                                </strong>
                            </li>
                            <li>
                                <%= Bike.human_attribute_name(:category) %>
                                <strong><%= bike.category %></a>
                                </strong>
                            </li>
                            <li>
                                <%= Bike.human_attribute_name(:material) %>
                                <strong><%= bike.material %></a>
                                </strong>
                            </li>
                            <li>
                                <%= Bike.human_attribute_name(:made_address) %>
                                <strong><%= bike.made_address %></a>
                                </strong>
                            </li>
                            <li>
                                <%= Bike.human_attribute_name(:market_time) %>
                                <strong><%= bike.market_time %></a>
                                </strong>
                            </li>
                            <hr />
                            <li>
                                <%= Bike.human_attribute_name(:information) %>
                                <p><%= render_markdown bike.information %></p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i><%= t :close %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
