<section class="new-bike-form">
  <div class="container">
    <div class="col-lg-12">
      <%= form_for @bike do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name ,class:"form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :avatars %> 
          <span>(<%= t(:image_size) %>[900X650])</span>
          <%= f.file_field :avatars, multiple: true %>
        </div>

        <div class="form-group">
          <%= f.label :brand %>
          <%= f.text_field :brand, class:"form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :model%>
          <%= f.text_field :model, class:"form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :category %>
          <%= f.text_field :category, class:"form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :material %>
          <%= f.text_field :material, class:"form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :made_address %>
          <%= f.text_field :made_address, class:"form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :market_time %>
          <div class="input-group datetimepicker">
              <%= f.text_field :market_time,class:"form-control"%>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
          </div>
        </div>

        <div class="form-group" id="information">
          <%= f.label :information %>
          <%= f.text_area :information, "data-provide" => "markdown" , "rows" => "15"%>
        </div>

        <%= f.submit :submit, :disable_with => 'Submiting...', class:"btn btn-primary" %>
      <% end %>
    </div> 
  </div>  
</section>
