<section class="detail-bike">
  <div class="container">
    <div class="col-lg-12">
      <!--image carousel-->
      <div id="avatarsCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <% @bike.avatars.each.with_index(0) do |avatar,index| %>
                <% if index == 0 %>
                  <li data-target="#avatarsCarousel" data-slide-to="0" class="active"></li>
                <% else %>
                  <li data-target="#avatarsCarousel" data-slide-to= <%= index %>></li>
                <% end %>
            <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <% @bike.avatars.each.with_index(0) do |avatar,index| %>
            <div class="<%= (index == 0) ? "item active" : "item"%>" >
                  <%= image_tag(avatar.url , class:"img-responsive center-block") %>
              </div>
            <% end %>
        </div>
      </div>

      <!-- bike info -->
      <h4 class="bike-name"><%= @bike.name %></h4>
      <h5 id="bike-price"><%= " #{Bike.human_attribute_name(:price)} #{@bike.price}" %></h5>
      <ul class="list-inline item-details">
          <li>
              <%= Bike.human_attribute_name(:brand) %>
              <strong><%= @bike.brand %></a>
              </strong>
          </li>
          <li>
              <%= Bike.human_attribute_name(:model) %>
              <strong><%= @bike.model %></a>
              </strong>
          </li>
          <li>
              <%= Bike.human_attribute_name(:category) %>
              <strong><%= @bike.category %></a>
              </strong>
          </li>
          <li>
              <%= Bike.human_attribute_name(:material) %>
              <strong><%= @bike.material %></a>
              </strong>
          </li>
          <li>
              <%= Bike.human_attribute_name(:made_address) %>
              <strong><%= @bike.made_address %></a>
              </strong>
          </li>
          <li>
              <%= Bike.human_attribute_name(:market_time) %>
              <strong><%= @bike.market_time %></a>
              </strong>
          </li>
      </ul>       
      <hr class="bike-primary"/>
      <div class="bike-intro">
          <%= Bike.human_attribute_name(:information) %>
          <p><%= render_markdown @bike.information %></p>
      </div>
    </div>
    <% if admin? %>
      <!-- action panel -->
      <div class="col-lg-12">
        <div class="bottom-bar">
         <div class="panel panel-default">
           <div class="panel-body">
             <div class="actions">
                <div class="item">
                  <%= link_to t(:edit) , edit_bike_path(@bike), class:"btn btn-warning col-sm-8 col-sm-offset-2" %>
                </div> 
                <div class="item">
                  <%= link_to t(:destroy) , bike_path(@bike), method: :delete ,class:"btn btn-danger col-sm-8 col-sm-offset-2" %>
                </div> 
             </div>
           </div>
         </div> 
        </div>
      </div>
    <% end %>
    <!-- comment -->
    <div id="comment_box">
      <% for comment in @comments %>
       <%= render "shared/comment", comment: comment %> 
      <% end %>
    </div>
    <%= render "shared/comment_form", model: @bike %>
  </div>
</section>

