<section class="detail-activity">
  <div class="container">
    <div class="col-lg-12">
      <!--cover header-->
      <div class="page-header">
        <%= image_tag(@activity.cover.url , width:"100%") %> 
      </div>  
      <!-- information panel-->
      <div class="activity-content">
        <div class="activity-title">
          <h4><%= @activity.name %></h4>
        </div>
        <div class="activity-body">
          <div class="activity-time">
            <div class="start-time col-sm-6">
              start time: <%= @activity.start_time %>  
            </div>
            <div class="end-time col-sm-6">
              end time: <%= @activity.end_time %>  
            </div>
          </div>
          <hr class="bike-primary"/>
          <div class="activity-intro">
            <h5>Rule:</h5>
            <p><%= render_markdown @activity.rule %></p>
            <h5>Information:</h5>
            <p><%= render_markdown @activity.information %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
