<!DOCTYPE html>
<html>
<head>
  <title>Dingtubike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap-markdown', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navigation" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if controller_path.include? "devise" %>
    <section>
      <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <%= yield %>
        </div>
      </div>
    </section>
  <% else %>
    <%= controller_name %>
    <%= yield %>
  <% end %>

</body>
</html>
